* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #363639;
  font-family: sans-serif;
  background: linear-gradient(
    321deg,
    #662724,
    #ff7300,
    #af01ff,
    #f3c404,
    #45f304
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
d

/* ? ----- PORTADA ----- */
.portada {
  width: 100%;
  background: #efefef;

  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-out all;
}

.portada .oculta {
  transform: translateY(100%);
}

.portada .header {
  margin-bottom: 100px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.portada .header .logotipo {
  font-size: 50px;
  font-size: 900;
  margin-bottom: 20px;
  text-align: center;
}

.portada .header .mensaje {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/* ? ----- MAIN ----- */
main {
  max-width: 1000px;
  margin: auto;
  width: 90%;
  padding: 60px 0;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 15px;
}

.simply-section {
  background: #fff;
  width: 180px;
  height: 180px;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  display: block;
  font-size: 50px;
  font-weight: 700;
text-align: center;
}

.simply-word {
  font-weight: 300;
  font-size: 30px;
}
